body {
    background-color: rgb(208, 199, 199);
    color:  #ff0000;
}

.portrait_thumbnail{
    width: 50px;
    height: 50px;
}

.title-bar {
    display: flex;
    align-items: center;
    gap: 20px; /* space between title and button */
}

.x-axis text {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color: #000000;
}


#histogram{
    position: relative;
    background-color: rgb(208, 199, 199);
}

#reset-button {
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    z-index: 10;
}

#Main_Title {
    font-size: 50px;
    padding-top: 10px;
    padding-left: 20px;
    color: #0A3161;
}

#dropdown_menu {
    font-family: Snell Roundhand, cursive;
    font-size: 50px;
    text-decoration: underline;
    color: #ffffff;
    margin-top: 10px; 
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border-radius: 16px;
    /* background-color: #b31942; */
    background-color: rgb(161, 158, 158);
}
.timeline-label {
    font-family: Snell Roundhand, cursive;
    font-size: 40px;
    font-weight: bold;
    overflow-wrap: break-word;
}

.tick {
    color:#000000
}
.x-axis{
    color:#000000
}

#elected-label {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 16px;
    font-weight: bold;
    overflow-wrap: break-word;
}

#dropdown_image {
    width:70px; 
    height:70px; 
    object-fit:cover; 
    border-radius:8px; 
    margin-left:10px; 
    margin-top: 12px;
}

#description-box {
    font-family: 'Arial Black', Gadget, sans-serif;
    color: #0A3161;
    font-size: 15px;
    overflow-wrap: break-word;
    margin-left: 20px;
    margin-top: 30px;
    max-width: 600px;
}